.card-title {
  color: #fff;
}

#movie-card {
  background-color: #373737;
  border-radius: 0.5rem;
}

#movie-card__main {
  margin: 1rem 0;
}

#noLinkLook {
  text-decoration: none;
  color: rgb(219, 219, 219);
}

#noLinkLook:hover {
  text-decoration: underline;
}
