$color: #f0f0ec;
$background-color: #373737;
$secondary: #373737;
$logo: #3d2661;
$font-weight: 300;
$bold: 600;
$black: #000;

.card-title {
  color: $color;
}
.movie-card__content {
  height: 100%;
  position: relative;
}
.movie-card {
  color: $color;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  text-overflow: ellipsis; // makes sure title doesn't wrap and column stay the same height on small screens
  div {
    opacity: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(transparent, $black);

    transition: all 0.7s;
  }
}
.movie-card:hover {
  div {
    opacity: 1;
    transform: scale(1.1);
  }

  .movie-title {
    opacity: 1;
    z-index: 2;
  }
  .movie-img {
    transform: scale(1.1);
  }
}

#movie-card__main {
  margin: 1rem 0;
}

#movie-body-card {
  justify-content: space-between;
}

.movie-title {
  text-align: center;
  opacity: 0;
  position: absolute;
  bottom: 5px;

  transition: all 0.7s;
}

.movie-img {
  height: 100%;
  box-shadow: 2px 0px 30px 2px #000;
  transition: all 0.7s;
}

#noLinkLook {
  text-decoration: none;
  color: rgb(219, 219, 219);
}

#noLinkLook:hover {
  text-decoration: underline;
}

.star {
  color: lighten($logo, 50%);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  &:hover {
    color: lighten($logo, 20%);
    cursor: pointer;
  }
}

.movie-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
