#noLinkLook {
  text-decoration: none;
}

#noLinkLook:hover {
  text-decoration: underline;
}

#movie-card {
  border-radius: 0.5rem;
}

#favorite-movie {
  background-color: #584281;
  justify-content: space-evenly;
  align-items: flex-start;
}
