$color: #f0f0ec;
$background-color: #373737;
$secondary: #373737;
$logo: #3d2661;
$font-weight: 300;
$bold: 600;

#noLinkLook {
  text-decoration: none;
}

#noLinkLook:hover {
  text-decoration: underline;
}

#movie-card {
  color: $color;

  background-color: $background-color;
  border-radius: 0.5rem;
  box-shadow: 2px 0px 30px 2px #000;
}

#favorite-movie {
  background-color: $background-color;
  justify-content: space-evenly;
  align-items: flex-start;
  border: none;
}

#movie_title {
  font-size: 0.8rem;
  color: #000;
  text-align: center;
}
