$background-color: #f0f0ec;

#noLinkLook {
  text-decoration: none;
}

#noLinkLook:hover {
  text-decoration: underline;
}

#movie-card {
  border-radius: 0.5rem;
}

#favorite-movie {
  background-color: $background-color;
  justify-content: space-evenly;
  align-items: flex-start;
  border: none;
}

#movie_title {
  font-size: 0.8rem;
  color: #000;
  text-align: center;
}
