.fav-movies {
  margin-bottom: 15px;

  // makes images all same height
  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis; // makes sure title doesnt wrap and coloumn stay the same height on small screens
    white-space: nowrap;
    margin: auto;
    width: 100%;
    img {
      display: block;
      height: 400px;
      margin: auto;
    }
    figcaption {
      text-align: center;
    }
  }
  button {
    display: block;
    margin: auto;
  }
}

.card {
  margin-bottom: 15px;
}

#moive-card {
  background-color: #373737;
  border-radius: 0.5rem;
}

#label {
  text-align: left;
}

.update-delete_button {
  display: flex;
  justify-content: space-around;
}
