$color: black;
$background-color: #373737;
$secondary: #373737;
$logo: #3d2661;
$font-weight: 300;
$bold: 600;

.fav-movies {
  margin-bottom: 15px;

  // makes images all same height
  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis; // makes sure title doesnt wrap and coloumn stay the same height on small screens
    white-space: nowrap;
    margin: auto;
    width: 100%;
    img {
      display: block;
      height: 200px;
      margin: auto;
    }
    figcaption {
      text-align: center;
    }
  }
  button {
    display: block;
    margin: auto;
  }
}

.card {
  margin-bottom: 15px;
}

#movie-card {
  height: 100%;
  color: $color;
  position: relative;
  background-color: $background-color;
  border-radius: 0.5rem;
  filter: drop-shadow(12px -2px 20px #000);
}

.user-info {
  padding: 2rem !important;
}

#label {
  text-align: left;
}

.update-delete_button {
  display: flex;
  justify-content: space-around;
}

#profile-card {
  align-items: normal;
}

#profile-info-body {
  display: flex;
}

#user-info {
  color: $color !important;
  position: relative;
  background-color: lighten($logo, 50%);
  border-radius: 0.5rem;
  filter: drop-shadow(12px -2px 20px #000);
}

#profile-title {
  font-size: 1.5rem;
  color: $color !important;
}

#profile-label {
  color: $color !important;
  font-size: 1.1rem;
  margin-top: 1rem;
}

#profile-value {
  color: $color !important;
  font-weight: $bold;
  font-size: 1.1rem;
}

.user-update {
  max-width: 800px !important;
}
input::placeholder {
  font-size: 0.85rem;
}

.favoriteMovie-card {
  margin-top: 1rem;
}
