$bold: 600;

#movie-view {
  margin-bottom: 2rem;
}
#movie-view > div {
  border: none;
}

#movie-card {
  background-color: #373737;
  // height: 100%;
}

.card-title {
  color: #fff;
}

.label {
  font-weight: $bold;
}

.movie-view-div {
  margin-top: 0.2rem;
}
