#movie-list-row {
  padding-right: 0;
}

@media (max-width: 575.9px) {
  .movies-list-container {
    justify-content: center;
  }
}

@media (min-width: 577px) and (max-width: 767.5px) {
  #movie-list-row {
    justify-content: center;
  }

  #main-view {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #movie-list-col {
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  #search-bar {
    width: 70%;
  }
}
