$color: black;
$background-color: #373737;
$secondary: #3d2661;
$logo: #3d2661;
$font-weight: 300;
$bold: 600;

#nav {
  background-color: lighten($secondary, 50%);
}

#logo {
  font-size: 2rem;
  color: #3d2661;
}

.nav__item {
  margin-left: 1rem;
}

.navbar-brand {
  margin-left: 2rem !important;
}

.navbar-toggler {
  margin-right: 2rem !important;
}

.navbar-nav {
  text-align: right;
}

#responsive-navbar-nav {
  justify-content: flex-end !important;
}

#logout-button {
  align-self: right;
  margin-right: 2rem !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    width: 50%;
    align-self: right;
  }
}
