$background-color: #f0f0ecf8;

#nav {
  background-color: $background-color;
}

#logo {
  font-size: 2rem;
  color: #3d2661;
}

.navbar-nav {
  text-align: right;
}

#logout-button {
  width: 30%;
  align-self: right;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    width: 50%;
    align-self: right;
  }
}
