$color: black;
$background-color: #f0f0ec;
$font-weight: 300;
$bold: 600;

#body {
  background-color: $background-color;
  font-weight: $font-weight;
}

h5 {
  color: $background-color;
}

span {
  color: $background-color;
}

p {
  color: $background-color;
}

.app-container {
  color: $color;
}

#btn-link {
  color: $background-color;
}
