$color: #f0f0ec;
$background-color: #373737;
$secondary: #373737;
$logo: #3d2661;
$font-weight: 300;
$bold: 600;

#body {
  background-color: $background-color;
  font-weight: $font-weight;
}

h5,
h4 {
  color: $color;
}

span {
  color: $color;
}

p {
  color: $color;
}

.app-container {
  color: $color;
}

.container {
  max-width: 100vw !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#btn-link {
  color: lighten($logo, 50%);
}
